.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}





.navigation-clean-search {
    background:#fff;
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#333;
    border-radius:0;
    box-shadow:none;
    border:none;
    margin-bottom:0;
  }
  
  @media (min-width:768px) {
    .navigation-clean-search {
      padding-top:1rem;
      padding-bottom:1rem;
    }
  }
  
  .navigation-clean-search .navbar-brand {
    font-weight:bold;
    color:inherit;
  }
  
  .navigation-clean-search .navbar-brand:hover {
    color:#222;
  }
  
  .navigation-clean-search .navbar-toggler {
    border-color:#ddd;
  }
  
  .navigation-clean-search .navbar-toggler:hover, .navigation-clean-search .navbar-toggler:focus {
    background:none;
  }
  
  .navigation-clean-search .navbar-toggler {
    color:#888;
  }
  
  .navigation-clean-search .navbar-collapse, .navigation-clean-search .form-inline {
    border-top-color:#ddd;
  }
  
  .navigation-clean-search .navbar-nav a.active, .navigation-clean-search .navbar-nav > .show > a {
    background:none;
    box-shadow:none;
  }
  
  .navigation-clean-search.navbar-light .navbar-nav a.active, .navigation-clean-search.navbar-light .navbar-nav a.active:focus, .navigation-clean-search.navbar-light .navbar-nav a.active:hover {
    color:#8f8f8f;
    box-shadow:none;
    background:none;
    pointer-events:none;
  }
  
  .navigation-clean-search.navbar .navbar-nav .nav-link {
    padding-left:18px;
    padding-right:18px;
  }
  
  .navigation-clean-search.navbar-light .navbar-nav .nav-link {
    color:#465765;
  }
  
  .navigation-clean-search.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
    color:#37434d !important;
    background-color:transparent;
  }
  
  .navigation-clean-search .action-button, .navigation-clean-button .action-button:active {
    background:#56c6c6;
    border-radius:20px;
    font-size:inherit;
    color:#fff !important;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:8px 20px;
    transition:background-color 0.25s;
  }
  
  .navigation-clean-search .action-button:hover, .navigation-clean-search .action-button:focus {
    background:#66d7d7;
  }
  
  .navigation-clean-search .form-inline label {
    color:#ccc;
  }
  
  .navigation-clean-search .form-inline .search-field {
    background:none;
    border:none;
    border-bottom:1px solid transparent;
    border-radius:0;
    color:#ccc;
    box-shadow:none;
    color:inherit;
    transition:border-bottom-color 0.3s;
  }
  
  @media (max-width:767px) {
    .navigation-clean-search .form-inline .search-field {
      display:inline-block;
      width:80%;
    }
  }
  
  .navigation-clean-search .form-inline .search-field:focus {
    border-bottom:1px solid #ccc;
  }
  
  .navigation-clean-button {
    background:#fff;
    padding-top:.75rem;
    padding-bottom:.75rem;
    color:#333;
    border-radius:0;
    box-shadow:none;
    border:none;
    margin-bottom:0;
  }
  
  @media (min-width:768px) {
    .navigation-clean-button {
      padding-top:1rem;
      padding-bottom:1rem;
    }
  }
  
  .navigation-clean-button .navbar-brand {
    font-weight:bold;
    color:inherit;
  }
  
  .navigation-clean-button .navbar-brand:hover {
    color:#222;
  }
  
  .navigation-clean-button .navbar-toggler {
    border-color:#ddd;
  }
  
  .navigation-clean-button .navbar-toggler:hover, .navigation-clean-button .navbar-toggler:focus {
    background:none;
  }
  
  .navigation-clean-button .navbar-toggler {
    color:#888;
  }
  
  .navigation-clean-button .navbar-collapse, .navigation-clean-button .form-inline {
    border-top-color:#ddd;
  }
  
  .navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
    background:none;
    box-shadow:none;
  }
  
  .navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
    color:#8f8f8f;
    box-shadow:none;
    background:none;
    pointer-events:none;
  }
  
  .navigation-clean-button.navbar .navbar-nav .nav-link {
    padding-left:18px;
    padding-right:18px;
  }
  
  .navigation-clean-button.navbar-light .navbar-nav .nav-link {
    color:#465765;
  }
  
  .navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
    color:#37434d !important;
    background-color:transparent;
  }
  
  .navigation-clean-button .navbar-nav > li > .dropdown-menu {
    margin-top:-5px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    background-color:#fff;
    border-radius:2px;
  }
  
  .navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item {
    line-height:2;
    font-size:14px;
    color:#37434d;
  }
  
  .navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item:hover {
    background:#eee;
    color:inherit;
  }
  
  .navigation-clean-button .actions .login {
    margin-right:1rem;
    text-decoration:none;
    color:#465765;
  }
  
  .navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
    background:#56c6c6;
    border-radius:20px;
    font-size:inherit;
    color:#fff;
    box-shadow:none;
    border:none;
    text-shadow:none;
    padding:.5rem 1rem;
    transition:background-color 0.25s;
    font-size:inherit;
  }
  
  .navigation-clean-button .navbar-text .action-button:hover {
    background:#66d7d7;
  }

 
  

  

  /*








  */
  .team-boxed {
    color:#313437;
    background-color:#eef4f7;
  }
  
  .team-boxed p {
    color:#7d8285;
  }
  
  .team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;
  }
  
  .team-boxed .people {
    padding:50px 0;
  }
  
  .team-boxed .item {
    text-align:center;
  }
  
  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
  }
  
  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
    color:inherit;
  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#d0d0d0;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:160px;
  }
  
  .team-boxed .social {
    font-size:18px;
    color:#a2a8ae;
  }
  
  .team-boxed .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }
  
  
 /* footer*/
  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  

    @media (min-width: 768px){
.col-md-6 {
    transform: translateX(20vh);
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
    }